@charset "UTF-8";

    body {
        background-color: rgb(60, 53, 53);
        font-size: 15px;
     }
     h1 {
        color: aqua;
        background-color: black;
     }
     h2 {
        color: aqua;
        background-color: black;
     }
     h3 {
      color: aqua;
     }
     p {
        text-align:justify;
        color: azure;
     }
     ol {
        color: azure;
     }
     ul {
        color: azure;
     }
     li {
        color: azure;
     }
     address {
        color: azure;
     }
     mark{
      background-color: blueviolet;
     }
     dt {
      color: rgb(200, 85, 18);
     }
     dd {
      color: azure;
     }
