@charset "UTF=8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}
body {
    background-image: url(../imagens/Fundo-3d.jpg);
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}
#telefone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-image: url(../imagens/frame-iphone.png);
    background-size: contain;
    height: 450px;
    width: 226px;
    
}
iframe#tela {
    width: 200px;
    height: 600px;


    position: relative;
    top: 57px;
    left: 16px;
    width: 191px;
    height: 340px;
}
#redes-sociais{
    text-align: right;
}
#redes-sociais img {
    width: 50px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.468);
    box-sizing: border-box;
}
#redes-sociais img:hover {
    border: 2px solid blue;
    transition: .2s;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.333);
}